.title {
  font-size: rem(34px);
  font-weight: 900;

}

.description {
  max-width: 37.5rem;
  margin: auto;
}

.root {
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.grid {
  width: 1000px;
  max-width: calc(100vw - 3rem);
}

.card {
  border: 0.5rem solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

